language: php

php:
  - "7.3"
  - "7.2"
  - "7.1"
  - "7.0"
  - "5.6"

env:
  - DOKUWIKI=master
  - DOKUWIKI=stable

before_install:
  - wget https://raw.github.com/splitbrain/dokuwiki-travis/master/travis.sh

install:
  - sh travis.sh

before_script:
  - ./_test/phpunit.phar --version

script:
  - cd _test && PRESERVE_TMP=false ./phpunit.phar --stderr --group plugin_backlinks --verbose --debug
